<div>
    <div class="content-top row">
        <div class="col-sm-6">
            <div class="centering">
                <div class="large-button">Download</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="centering">
                <div class="large-button" ng-click="openGithub()">GitHub</div>
            </div>
        </div>
    </div>
    <div class="top-page row">
        <h1 class="title-primary">Introduction</h1>
        <div class="definition">"Dropover" - noun 1. A hovering DOM element who's inclusion into the visible realm can be programmatically toggled.</div>
        <div class="main-desc"><b>ngDropover</b> is a feature-rich, event-driven solution for dropdowns, popovers, tooltips, or any other time you need a trigger or triggers to hide-show elements. The only dependency is AngularJS and your imaaginaaaationnnn!</div>
        <div class="col-sm-6">
            <div class="intro">
                <li>Open and close the dropover programmatically with events</li>
                <li>Built in touch support</li>
                <li>Easily create multiple triggers</li>
                <li>Close dropover when clicking outside directive</li>
            </div>
        </div>
        <div class="top-sample col-sm-6">
            <div class="ngdo" ng-dropover ng-dropover-options="{'position':'bottom-center','triggerEvent':'hover'}">
                <button class="regular-button">Hover Over Me!</button>
                <div ng-dropover-contents>
                Dropover contents can be plain HTML, an ng-include, or another directive...even another ngDropover!
                </div>
            </div>
        </div>
    </div>
    <div class="row section-options">
        <h1 class="title-primary">Options</h1>
        <div ng-non-bindable class="intro">Options are supplied to the directive as an object through the <code>ng-dropover-options</code> attribute. The options support binding and will update on the fly. We highly suggest you make use of binding for options. To do so just add the options object to your model and wrap the attribute value in curlies: <code>ng-dropover-options="{{myOptionsObject}}"</code>. To make things easier to read, examples on this site do not use binding for options. </div>
        <h3>Here are all the options currently supported...</h3>
        <ul class="options col-sm-7">
            <li>
                <h2 class="option-title"><code class="code-title">ngDropoverId</code> [string] (default: $scope.$id)</h2>
                <div>Example: <code>&lt;div ng-dropover="ngDropoverId"&gt;&lt;div&gt;</code></div>
                <p>A unique identifier for the dropover. If not defined, it will default to the unique $scope.$id for the isolated directive scope.</p>
            </li>
            <li>
                <h2 class="option-title"><code class="code-title">position</code> [string] (default: 'bottom-left')</h2>
                <div>Example: <code ng-non-bindable>ng-dropover-options="{'position':'top-center'}"</code></div>
                <div class="available-positions">
                    <div class="click-label">click to expand</div>
                    <img class="position-small" src="assets/img/positioning.png" ng-click="enlargeImg = !enlargeImg" ng-class="{'position-large' : enlargeImg}">
                </div>
            </li>
            <li>
                <h2 class="option-title"><code class="code-title">horizontalOffset</code> [integer] (default: 0)</h2>
                <div>Example: <code ng-non-bindable>ng-dropover-options="{'horizontalOffset':20}"</code></div>
                <div>Allows you to set a -/+ value in pixels to move the dropover left or right from it's set position.</div>
            </li>
            <li>
                <h2 class="option-title"><code class="code-title">verticalOffset</code> [integer] (default: 0)</h2>
                <div>Example: <code ng-non-bindable>ng-dropover-options="{'verticalOffset':-10}"</code></div>
                <div>Allows you to set a -/+ value in pixels to move the dropover up or down from it's set position.</div>
            </li>
            <li>
                <h2 class="option-title"><code class="code-title">triggerEvent</code> [string] (default: 'click')</h2>
                <p>The type of event that triggers opening/closing the contents when interacting with the <code>ng-dropover</code> element. The value 'none' is useful when you just want manual events to control the opening and closing.</p>
                <p>Values:</p>
                <ul>
                    <li><code>click</code> - results in <code>touchstart click</code> for both open and close</li>
                    <li><code>hover</code> - results in <code>mouseenter : mouseleave</code> and will also toggle on touch</li>
                    <li><code>none</code> - no interaction with the <code>ng-droopover</code> element will trigger open/close</li>
                </ul>
            </li>
            <li>
                <h2 class="option-title"><code class="code-title">closeOnClickOff</code> [boolean] (default: true)</h2>
                <p>If true, will close the dropover when clicking anywhere outside of it.</p>
            </li>
            <li>
                <h3 class="option-title"><code class="code-title">groupId</code> [string] (default: '')</h3>
                <p>This is a string ID so that you have the option group dropovers by some indentifier. This will be added as a class to the dropover contents and passed as the second parameter on the <code>ngDropover.opening</code> and <code>ngDropover.closing</code> events. Useful for defining CSS or hooking into a set of dropover instances.</p>
            </li>
        </ul>
    </div>
    <div class="row section-options">
        <h1 class="title-primary">ngDropoverTrigger</h1>
        <div>We have included a helper directive to trigger directives remotely. You interact with it the same as the normal ngDropover instance, and it acts on the dropover of your choice. Use it like this:</div>
        <div><code>&lt;div ng-dropover-trigger="{targetId: 'myDropover'}" &gt;&lt;div&gt;</code></div>
        <h1 class="example-title">Options</h1>
        <ul class="">
            <li>
                <h3 class="option-title"><code class="code-title">targetId</code> required [string] (default: '')</h3>
                <p>The ngDropoverId of the dropover instance to trigger</p>
            </li>
            <li>
                <h3 class="option-title"><code class="code-title">triggerEvent</code> optional [string] (default: 'click')</h3>
                <p>The type of event that triggers the action.</p>
                <p>Values:</p>
                <ul>
                    <li><code>click</code> - results in <code>touchstart click</code> for both open and close</li>
                    <li><code>hover</code> - results in <code>mouseenter : mouseleave</code> and will also toggle on touch</li>
                </ul>
                <p></p>
            </li>
            <li>
                <h3 class="option-title"><code class="code-title">action</code> optional [string] (default: 'toggle')</h3>
                <p>The action that the trigger performs on the specified dropover</p>
                <p>values:</p>
                <ul>
                    <li><code>toggle</code> - opens and closes with interaction</li>
                    <li><code>open</code> - opens with the specified action but does not trigger a close</li>
                    <li><code>close</code> - closes with the specified action but does not trigger an open</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="row">
        <h1 class="title-primary">Classes</h1>
        <ul>
            <li>
                <h1 class="event-title"><code class="code-title">ngdo</code></h1>
                <div class="event-info">
                    Added to the directive element.
                </div>
            </li><li>
                <h1 class="event-title"><code class="code-title">ngdo-open</code></h1>
                <div class="event-info">
                    Added to the directive element when the dropover is open.
                </div>
            </li>
            <li>
                <h1 class="event-title"><code class="code-title">ngdo-contents</code></h1>
                <div class="event-info">
                    This is a class that is added on the dropover.
                </div>
            </li>
            <li>
                <h1 class="event-title"><code class="code-title">ngdo-<i>position</i></code></h1>
                <div class="event-info">
                    Added to the directive element based on the 'position' option value.
                </div>
            </li>
            <li>
                <h1 class="event-title"><code class="code-title">ngdo-<i>groupId</i></code></h1>
                <div class="event-info">
                    Added to the directive element based on the 'groupId' option value.
                </div>
            </li>
            <li>
                <h1 class="event-title"><code class="code-title">ngdo-trigger</code></h1>
                <div class="event-info">
                    Added to the directive element of an ngDropoverTrigger directive.
                </div>
            </li>
        </ul>
        <div class="row-sm-8">
            <h1 class="title-primary">Events</h1>
            <p>ngDropover is event-based, and many of those events you can send or listen for to give you greater flexibility in your application. Here are all the events and how to use them.</p>
            <p>*NOTE: we highly recommend using the ngDropoverTrigger directive when applicable to avoid problems with closeOnClickOff</p>
            <ul>
                <li>
                    <h1 class="event-title"><code class="code-title">ngDropover.open</code></h1>
                    <div class="event-info">
                        <div>params: required [string] ngDropoverId</div>
                        <div>example: <code>$rootScope.$emit('ngDropover.open', 'myDropover')</code></div>
                        <div>Opens the specified dropover. Emit on the rootScope for best performance.</div>
                    </div>
                </li>
                <li>
                    <h1 class="event-title"><code class="code-title">ngDropover.close</code></h1>
                    <div class="event-info">
                        <div>params: required [string] ngDropoverId</div>
                        <div>example: <code>$rootScope.$emit('ngDropover.close', 'myDropover')</code></div>
                        <div>Closes the specified dropover. Emit on the rootScope for best performance.</div>
                    </div>
                </li>
                <li>
                    <h1 class="event-title"><code class="code-title">ngDropover.toggle</code></h1>
                    <div class="event-info">
                        <div>params: required [string] ngDropoverId</div>
                        <div>example: <code>$rootScope.$emit('ngDropover.toggle', 'myDropover')</code></div>
                        <div>Toggles the specified dropover. Emit on the rootScope for best performance.</div>
                    </div>
                </li>
                <li>
                    <h1 class="event-title"><code class="code-title">ngDropover.closeAll</code></h1>
                    <div class="event-info">
                        <div>params: optional [object] ngDropoverId</div>
                        <div>example: <code>$rootScope.$emit('ngDropover.open', { ngDropoverId: 'myDropover' })</code></div>
                        <div>Closes all but the (optionally) specified dropover. Emit on the rootScope for best performance. Takes an object instead of a string because internally this method is used to handle document clicks.</div>
                    </div>
                </li>
                <li>
                    <h1 class="event-title"><code class="code-title">ngDropover.opening</code></h1>
                    <div class="event-info">
                        <div>params: [function] callback( event, dropObj )</div>
                        <div>example:</div>
                        <code class="code-iblock">
                            $rootScope.$on('ngDropover.opening', function(event, dropObj) {<br>
                                // Do something<br>
                            <span class="last-line">});</span>
                        </code>
                        <div>Listen for this event if you want to perform an action on the opening of a dropover, like JavaScript animation. It is dispatched as soon as the directive's open method is called. The object param contains the following info about the dropover:</div>
                        <div class="event-object-params">
                            <div><code>id</code>: The ngDropoverId of the associated dropover</div>
                            <div><code>element</code>: The DOM element of the dropovers Contents</div>
                            <div><code>groupId:</code> The groupId of the dropover, if it exists</div>
                        </div>
                    </div>
                </li>
                <li>
                    <h1 class="event-title"><code class="code-title">ngDropover.closing</code></h1>
                    <div class="event-info">
                        <div>params: [function] callback( event, dropObj )</div>
                        <div>example:</div>
                        <code class="code-iblock">
                            $rootScope.$on('ngDropover.closing', function(event, dropObj) {<br>
                                // Do something<br>
                            <span class="last-line">});</span>
                        </code>
                        <div>Listen for this event if you want to perform an action on the closing of a dropOver, like JavaScript animation. It is send when the internal close call is made but after the dropovers <code>display</code> property is set to 'none'. The dropObj contains the following info about the dropover:</div>
                        <div><code>id</code>: the ngDropoverId of the associated dropover</div>
                        <div><code>element</code>: the DOM element of the dropovers Contents</div>
                        <div><code>groupId:</code> the groupId of the dropover, if it exists</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <h1 class="title-primary">Installation</h1>
        <div>XXXX</div>
        <h2>Install with NPM</h2>
        <div class="terminal">npm install --save ngdropover</div>
        <h2>Manual Download</h2>
        <div>Download the lastest version here.</div>
        <h2>Add it to your app</h2>
        <div class="terminal">angular.module('myApp', ['ngDropover'])</div>
    </div>
    <div class="row">
        <h1 class="title-primary">Options Playground</h1>
        <div class="col-sm-4">
            <form name="playExample" role="form" method="POST" novalidate autocomplete="off">
                <div class="form-group">
                    <label for="examplePosition" class="control-label">Position:</label>
                    <div>
                        <select ng-model="exampleOptions.position" class="form-control">
                            <option>bottom-left</option>
                            <option>bottom-center</option>
                            <option>bottom-right</option>
                            <option>top-left</option>
                            <option>top-center</option>
                            <option>top-right</option>
                            <option>left-bottom</option>
                            <option>left-center</option>
                            <option>left-top</option>
                            <option>right-bottom</option>
                            <option>right-center</option>
                            <option>right-top</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Horizontal Offset:</label>
                    <div>
                        <input type="number" class="form-control" ng-model="exampleOptions.horizontalOffset">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Vertical Offset:</label>
                    <div>
                        <input type="number" class="form-control" ng-model="exampleOptions.verticalOffset">
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <div class="checkbox">
                            <label class="control-label">
                                <input type="checkbox" ng-model="exampleOptions.closeOnClickOff">Close on click off
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Trigger Event:</label>
                    <div>
                        <select ng-model="exampleOptions.triggerEvent" class="form-control">
                            <option value="click">Click</option>
                            <option value="hover">Hover</option>
                            <option value="focus">Focus</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-8">
            <div class="playground-result">
                <div class="dropover-container">
                    <div ng-dropover="playground1" class="playground-dropover" ng-dropover-options="{{exampleOptions}}">
                        <button class="regular-button">This is Target 1</button>
                        <div ng-dropover-contents>
                            <div>Any content at all!</div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <code>              
                    {
                    <br> 'position': {{exampleOptions.position}},
                    <br> 'horizontalOffset': {{exampleOptions.offsetX}},
                    <br> 'verticalOffset': {{exampleOptions.offsetY}},
                    <br> 'closeOnClickOff': {{exampleOptions.closeOnClickOff}},
                    <br> 'triggerEvent': {{exampleOptions.triggerEvent}},
                    <br> };
                </code>
            </div>
        </div>
    </div>
    <div class="row">
        <h1 class="title-primary">Here are some examples</h1>
        <div>Million ways to skin a cat</div>
    </div>
    <div class="row">
        <h1 class="example-title">Most Basic Implementation</h1>
        <div class="col-sm-5">
            It doesn't get much easier than this. Add the directive and indicate the dropover contents. The default values will apply and make this thing open a dropover at bottom left on click.
        </div>
        <div class="col-sm-7">
            <p data-height="257" data-theme-id="17874" data-slug-hash="GJLdRJ" data-default-tab="result" data-user="verical" class='codepen'>See the Pen <a href='http://codepen.io/verical/pen/GJLdRJ/'>GJLdRJ</a> by Verical (<a href='http://codepen.io/verical'>@verical</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
        </div>
    </div>
    <div class="row">
        <h1 class="example-title">Tooltip with an arrow</h1>
        <div class="col-sm-5">
            This is your pretty standard "tooltip" implementation. You move your little white pointy thing over the yellow button and a little windowy thing shows up that has a pointy triangle. All that was needed to do was to vertically offset the dropover by the height of the arrow and add a hover trigger event.
        </div>
        <div class="col-sm-7">
            <p data-height="257" data-theme-id="17874" data-slug-hash="gpyywP" data-default-tab="result" data-user="verical" class='codepen'>See the Pen <a href='http://codepen.io/verical/pen/gpyywP/'>Arrowed Tooltip</a> by Verical (<a href='http://codepen.io/verical'>@verical</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
        </div>
    </div>
    <div class="row" id="example-positioning">
        <h1 class="example-title">Shadow Super Happy Fun Time!</h1>
        <div class="col-sm-5">
            Roll you mouse over the squares and watch the magic happen! No, the big red square in the center does not do anything. This shows you all the available standard positions and also demonstrates how you might want to use the position classes. In the example, I tweak the background shadow to move into a position that matches the current dropover's position.
        </div>
        <div class="col-sm-7">
            <p data-height="364" data-theme-id="17874" data-slug-hash="LVvvbo" data-default-tab="result" data-user="verical" class='codepen'>See the Pen <a href='http://codepen.io/verical/pen/LVvvbo/'>LVvvbo</a> by Verical (<a href='http://codepen.io/verical'>@verical</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
        </div>
    </div>
    <div class="row">
        <h1 class="example-title">Overly Attached Dropover</h1>
        <div class="col-sm-5">
            Nothing super special going on here other. It is just a standard dropover with a hover trigger event, positioned bottom left, and a -1px vertical offset. Mix this with a negative z-index (so that the dropover tucks under its sibling content) and you have an attached dropover. What a time to be alive!!!
        </div>
        <div class="col-sm-7">
            <p data-height="257" data-theme-id="17874" data-slug-hash="gpyyxM" data-default-tab="result" data-user="verical" class='codepen'>See the Pen <a href='http://codepen.io/verical/pen/gpyyxM/'>Attached Dropover</a> by Verical (<a href='http://codepen.io/verical'>@verical</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
        </div>
    </div>
    <div class="row">
        <h1 class="example-title">Using Events</h1>
        <div class="col-sm-5">
            <p>It's easy to control dropovers remotely using the supplied ngDropoverTrigger directive or events. This gives you the flexibility to open and close for more advanced triggers and situations. Also, note how both dropovers are showing on the different directives. This is because they were both given the id of "myDropover" (<code ng-non-bindable>&lt;div ng-dropover="myDropover"...&gt;</code>). Be sure to give unique ids if you don't want this behavior.</p>

  <!--           <code>&lt;div ng-dropover-trigger="{'triggerEvent':'click', 'targetId':'myDropover'}" &gt;</code>
 -->
            
            We recommend using the ngDropoverTrigger directive as it implements touch support and handles document clicks, but if you need to programatically interact with a dropover the syntax is as follows:<br>

            <code>$scope.$emit('ngDropover.open', 'myDropover');</code><br>

            See the events section for more info on this.
            

            <!-- <ul class="events-list">
                <li>
                    <code class="code-title">ngDropover.open</code>
                    <p>Opens a dropover specified by it's unique ID</p>
                    <code class="code-block">
                        $scope.$emit('ngDropover.open', 'myDropover');
                    </code>
                </li>
                <li>
                    <code class="code-title">ngDropover.close</code>
                    <p>Closes a dropover specified by it's unique ID</p>
                    <code class="code-block">
                        $scope.$emit('ngDropover.close', 'myDropover');
                    </code>
                </li>
                <li>
                    <code class="code-title">ngDropover.toggle</code>
                    <p>Toggles a dropover open/closed, specified by it's unique ID</p>
                    <code class="code-block">
                        $scope.$emit('ngDropover.toggle', 'myDropover');
                    </code>
                </li>
                <li>
                    <code class="code-title">ngDropover.closeAll</code>
                    <p>Closes all dropover instances, optionally leaves open one dropover specified by it's unique ID. Note, this optional dropover id must be passed as an object literal with the property name <code>ngDropoverId</code> instead of a string</p>
                    <p><strong>Close all</strong></p>
                    <code class="code-block">
                        $scope.$emit('ngDropover.closeAll');
                    </code>
                    <br>
                    <p><strong>Close all but 'myDropover'</strong></p>
                    <code class="code-block">
                        $scope.$emit('ngDropover.closeAll', { ngDropoverId: 'myDropover' });
                    </code>
                </li>
            </ul> -->
        </div>
        <div class="col-sm-7">
            <p data-height="364" data-theme-id="17874" data-slug-hash="Nqmmav" data-default-tab="result" data-user="verical" class='codepen'>See the Pen <a href='http://codepen.io/verical/pen/Nqmmav/'>Nqmmav</a> by Verical (<a href='http://codepen.io/verical'>@verical</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
        </div>
    </div>
    <div class="row">
        <h1 class="example-title">ngDropovers nesting in their natural habitat</h1>
        <div class="col-sm-5">
            That is right folks, you can nest ngDropovers! In this relatively simple example, we gave a trigger of "hover" to all ngDropovers and made sure to set <code>closeOthersOnOpen</code> to false. We also had to tweak the <code>verticalOffset</code> so that the nested ngDropover aligned better with its parent. In the view's controller, there is a click handler that emits the <code>ngDropover.closeAll</code> event to collapse the all menu levels and sets a model to the selected value. Easy as easy pie!

        </div>
        <div class="col-sm-7">
            <p data-height="361" data-theme-id="17874" data-slug-hash="4c94ed7519c87f6e501b123b590a30d4" data-default-tab="result" data-user="verical" class='codepen'>See the Pen <a href='http://codepen.io/verical/pen/4c94ed7519c87f6e501b123b590a30d4/'>Menu Bar</a> by Verical (<a href='http://codepen.io/verical'>@verical</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
        </div>
    </div>
    <div class="row">
        <h1 class="example-title">Animation Station</h1>
        <div class="col-sm-5">
            <p>With ngDropover, we leave animations and transitions up to you. We recommend one of two ways.</p>
            <h3>1. CSS3</h3>
            <p>All you need to do is define your css3 transitions on <code>.ngdo-contents</code> or <code>[ng-dropover-contents]</code>, and then use the <code>.ngdo-open</code> class to define state change.</p>
            <p>Example:
                <br>
                <code class="code-block">
            .ngdo-contents { <br>
                transition: all ease-in-out 0.5s;<br>
                opacity: 0;<br>
            <span class="last-line">}</span>
            </code>
                <code class="code-block">
                .ngdo-open .ngdo-contents {<br>
                  opacity: 1;<br>
                <span class="last-line">}</span>
            </code>
            </p>
            <h3>2. JavaScript</h3>
            <p>By listening for the <code>ngDropover.opening</code> and <code>ngDropover.closing</code> events, you can define animations on the dropover the event corresponds to</p>
            <p>*note : you will have to handle the display property change when closing</p>
            <p>jQuery Example:</p>
            <code class="code-block">
                $rootScope.$on('ngDropover.opening', <br>
                    function(event, dropObj) {<br><br>
                        $(dropObj.element).stop().slideDown(); <br>
                <span class="last-line">});</span>
            </code>
            <code class="code-block">
                $rootScope.$on('ngDropover.closing',<br>
                function(event, dropObj) {<br><br>
                        $(dropObj.element).show();<br>
                        $(dropObj.element).stop().slideUp();<br>
                <span class="last-line">});</span>
            </code>
            <p>The <code>dropObj</code> object passed to the opening and closing functions has <code>id</code>, <code>groupId</code>, and the <code>element</code> properties</p>
        </div>
        <div class="col-sm-7">
            <p data-height="350" data-theme-id="17874" data-slug-hash="aOrwyL" data-default-tab="result" data-user="verical" class='codepen'>See the Pen <a href='http://codepen.io/verical/pen/aOrwyL/'>Animation Station</a> by Verical (<a href='http://codepen.io/verical'>@verical</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
        </div>
    </div>
</div>
