body {
    margin: 0;
    background-color: #f8f6e2;
    font-size: 18px;
}

header {
    background: linear-gradient( to bottom, #76b29e, #76b29e 20%, #72301e 20%, #72301e 38%, #d14b2d 38%, #d14b2d 56%, #d36a2b 56%, #d36a2b 74%, #d8a521 74%, #d8a521 92%, #76b29e 92%);
    height: 180px;
}

header .logo-assets-container {
    text-align: center;
}

header .logo-assets {
    padding-top: 50px;
}

footer {
    background-image: url("img/70s-pattern.png");
    background-repeat: repeat-x;
    height: 300px;
}

a {
    color: #77b49e;
    font-weight: 500;
    font-size: 18px;
}

nav a {
    font-size: 24px;
}

code {
    background-color: #fff;
    color: rgb(209, 75, 45);
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 13px;
}

code.code-title {
    font-size: 18px;
    font-weight: 600;
}

code i {
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    font-style: italic;
}

.title-primary {
    border-bottom: 4px solid #d26925;
    margin-bottom: 20px;
    margin-top: 40px;
}

.main-desc{
    font-size: 24px;
    font-weight: 600;
}

.example-title {
    border-bottom: 1px dotted #333;
    font-size: 22px;
}

.code-block {
    display: block;
    padding: 0 50px;
    text-indent: -40px;
}

.code-block .last-line,
.code-iblock:last-child {
    margin-left: -40px;
}

.code-iblock {
    display: inline-block;
    padding: 5px 20px 5px 60px;
    text-indent: -40px;
}

.regular-button {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(209, 75, 45);
    border-radius: 10px;
    background-color: rgb(216, 165, 33);
    height: 40px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
}

.ngdo-contents {
  border: 1px solid #d14b2d;
  border-radius: 10px;
  background-color: #fbf4e1;
  padding: 20px;
  box-shadow: 0px 5px 6px #888888;
  text-align: left;
}

.top-sample {
    text-align: center;
    padding-top: 40px;
}


.top-sample button {
    height: 60px;
    font-size: 24px;
}


.top-sample .ngdo {
    display: inline-block;
}

form {}

form.form-horizontal .control-label {
    color: rgb(209, 75, 45);
    font-weight: 700;
}

form .checkbox,
form .checkbox .control-label {
    padding-top: 0px;
}

.large-button {
    border-style: solid;
    border-width: 4px;
    border-color: rgb(209, 75, 45);
    border-radius: 10px;
    background-color: rgb(216, 165, 33);
    width: 344px;
    height: 85px;
    font-size: 36px;
    color: #fff;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    cursor: pointer;
}

.content-top {
    margin-top: 40px;
    margin-bottom: 20px;
}

.imagination {
    font-size: 24px;
}

.imagination img {
    width: 50px;
    max-width: 100%;
    margin-left: 5px;
}

.centering {
    display: table;
    margin: 0 auto;
}

.playground-result {
    border-style: solid;
    border-width: 4px;
    border-color: rgb(209, 75, 45);
    background-color: #fff;
    height: 250px;
    /*background: linear-gradient( to top, #ffffff, #ffffff 85%, #76b29e 85%, #76b29e);*/
    text-align: center;
}

.playground-result .dropover-container {
    margin-top: 70px;
}

.playground-result .options-object {
    text-align: left;
    margin-top: 20px;
}

.playground-dropover {
    display: inline-block;
}

.terminal {
    background-color: #f7f7f7;
    padding: 10px;
}

.dropover {
    background-color: #76b29e;
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    border: 1px solid #333;
    box-shadow: 0px 5px 6px #888888;
    text-align: center;
}

table {
    border-collapse: collapse;
    border: 1px solid #B9B2F4;
    width: 600px;
    height: 300px;
    margin: 100px;
}

table td {
    border: 1px solid #B9B2F4;
    text-align: center;
}

td.shadow-center {
    background-color: #B9B2F4;
}


.options > li {
    margin-top: 40px;
}

.option-title,
.event-title {
    font-size: 20px;
}

.event-object-params {
    margin-left: 20px;
}

.available-positions {
    margin-top: 20px;
    margin-bottom: 10px;
}

.position-small {
    max-width: 300px;
    width: 100%;
}

.position-large {
    max-width: 600px;
    width: 600px;
}

.click-label {
    font-size: 12px;

}

.events-list li {
    margin: 20px 0px;
}

.iepage .ngdo {
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 40px;
}
