<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ngDropover Examples</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="/src/dropover.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style1.css">
</head>

<body ng-app="example" ng-controller="AppCtrl">
    <h1>Mad Dropdowns Yo</h1>
    <section>
        <div class="row">
            <div style="position:relative" ng-dropover="dropOne" class="outline dropOneTrigger" style="{position: absolute}" ng-dropover-options="{'trigger': '.dropOneTrigger'}">
                <div>Click Toggle</div>
                <div ng-dropover-contents>
                    <div>ITEM</div>
                    <div>ITEM</div>
                    <div>ITEM</div>
                    <div>ITEM</div>
                    <div>ITEM</div>
                    <div>ITEM</div>
                </div>
            </div>
            <div class="i-block">
                <div class="remote-trigger dropOneTrigger">Toggle from elsewhere</div>
            </div>
        </div>
        <div class="row">
            <nav id="test-menu" style="position:relative; padding-top: 50px;">
                <ul>
                    <li class="menu-main" ng-dropover ng-dropover-options="{{leftMenuOptions}}">
                        {{toggle}}
                        <a href="">Click Left</a>
                        <ul ng-dropover-contents>
                            <li class="menu-link"><a href="">Sub</a></li>
                            <li class="menu-link"><a href="">Sub</a></li>
                            <li class="menu-link"><a href="">Sub</a></li>
                            <li class="menu-link"><a href="">Sub</a></li>
                        </ul>
                    </li>
                    <li class="menu-main" ng-dropover ng-dropover-options="{'triggerEvent': 'hover'}">
                        <a href="">Hover</a>
                        <ul ng-dropover-contents>
                            <li class="menu-link"><a href="">Sub</a></li>
                            <li class="menu-link"><a href="">Sub</a></li>
                            <li class="menu-link"><a href="">Sub</a></li>
                            <li class="menu-link"><a href="">Sub</a></li>
                        </ul>
                    </li>
                    <li class="menu-main" ng-dropover ng-dropover-options="{'triggerEvent': 'hover', position: 'left'}">
                        <a href="">Hover Above</a>
                        <ul ng-dropover-contents>
                            <li class="menu-link"><a href="">Sub</a></li>
                            <li class="menu-link"><a href="">Sub</a></li>
                            <li class="menu-link"><a href="">Sub</a></li>
                            <li class="menu-link"><a href="">Sub</a></li>
                        </ul>
                    </li>
                    <li class="menu-main" ng-dropover ng-dropover-options="{'triggerEvent': 'click', 'closeOnClickOff': false}">
                        <a href="">Click n Stay</a>
                        <ul ng-dropover-contents>
                            <li class="menu-link"><a href="">Sub</a></li>
                            <li class="menu-link"><a href="">Sub</a></li>
                            <li class="menu-link"><a href="">Sub</a></li>
                            <li class="menu-link"><a href="">Sub</a></li>
                        </ul>
                    </li>
                    <li class="menu-main" ng-dropover ng-dropover-options="{'triggerEvent': 'hover', position: 'right'}">
                        <a href="">Hover Right</a>
                        <ul ng-dropover-contents>
                            <li class="menu-link"><a href="">Sub</a></li>
                            <li class="menu-link"><a href="">Sub</a></li>
                            <li class="menu-link"><a href="">Sub</a></li>
                            <li class="menu-link"><a href="">Sub</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div ng-dropover class="outline">
                Bare
            </div>
            <div ng-dropover class="outline" ng-dropover-options="{wrapperClass: 'template-example', position: 'bottom-center'}">
                Using Template
                <div ng-dropover-contents>
                    <ng-include src="'temp1.html'"></ng-include>
                </div>
            </div>
            <div ng-dropover="directiveEx" class="outline" ng-dropover-options="{wrapperClass: 'directive-example', position: 'right-bottom'}">
                Using Other Directive
                <div ng-dropover-contents test-directive>
                </div>
            </div>
            <script type="text/ng-template" id="temp1.html">
                <div>
                    To include a template inside, use ng-include inside of <br>
                    <code>ng-dropover-contents</code>
                </div>
            </script>
            <script type="text/ng-template" id="temp2.html">
                <div>
                    <h3>Outside Directive Yo</h3>
                    <div>Close on clicking something inside : <br><button ng-click="markEvent($event)">Close</button></div>
                    <div>Or close more programatically (requires id on parent) : <br><button ng-click="delayClose()">Close</button>{{ countdown }}</div>

                    <div>note: be careful with directives that have replace: true</div>
                </div>
            </script>
        </div>
    </section>
    <h1>Popovers For Days</h1>
    <section>
        <div class="row">
            <div ng-dropover>
            </div>
        </div>
    </section>
    <h1>Options Playground</h1>
    <div class="row">
        <div class="col-sm-4">
            <form name="playExample">
                <div class="form-group">
                    <label for="examplePosition">Position</label>
                    <select ng-model="exampleOptions.position">
                        <option>bottom-left</option>
                        <option>bottom-center</option>
                        <option>bottom-right</option>
                        <option>top-left</option>
                        <option>top-center</option>
                        <option>top-right</option>
                        <option>left-bottom</option>
                        <option>left-center</option>
                        <option>left-top</option>
                        <option>right-bottom</option>
                        <option>right-center</option>
                        <option>right-top</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleOffX">Horizontal Offset</label>
                    <input type="number" class="form-control" ng-model="exampleOptions.horizontalOffset">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Vertical Offset</label>
                    <input type="number" class="form-control" ng-model="exampleOptions.verticalOffset">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="exampleOptions.closeOnClickOff"> Close on click off (closeOnClickOff)
                    </label>
                </div>
                
                <div class="form-group">
                    <label for="exampleTriggerEvent">Trigger Event</label>
                    <select ng-model="exampleOptions.triggerEvent">
                        <option value="click">Click</option>
                        <option value="hover">Hover</option>
                        <option value="focus">Focus</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="col-sm-8">
            <div>{{exampleOptions}}</div>
            <div>
                <ul>
                    <li class="menu-main" ng-dropover ng-dropover-options="{{exampleOptions}}">
                        <a href="">Trigger Element</a>
                        <ul ng-dropover-contents>
                            <li class="menu-link"><a href="">Sub</a></li>
                            <li class="menu-link"><a href="">Sub</a></li>
                            <li class="menu-link"><a href="">Sub</a></li>
                            <li class="menu-link"><a href="">Sub</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="shadow-fun-table">
            <tr>
                <td ng-dropover class="shadow-fun" ng-dropover-options="{'triggerEvent': 'hover', 'position': 'left-top'}">
                    <div>
                        <div>L-T</div>
                        <div ng-dropover-contents>
                            <div>SHADOW FUN!</div>
                        </div>
                    </div>
                </td>
                <td ng-dropover class="shadow-fun" ng-dropover-options="{'triggerEvent': 'hover', 'position': 'top-left'}">
                    <div>
                        <div>T-L</div>
                        <div ng-dropover-contents>
                            <div>SHADOW FUN!</div>
                        </div>
                    </div>
                </td>
                <td ng-dropover class="shadow-fun" ng-dropover-options="{'triggerEvent': 'hover', 'position': 'top-center'}">
                    <div>
                        <div>T-C</div>
                        <div ng-dropover-contents>
                            <div>SHADOW FUN!</div>
                        </div>
                    </div>
                </td>
                <td ng-dropover class="shadow-fun" ng-dropover-options="{'triggerEvent': 'hover', 'position': 'top-right'}">
                    <div>
                        <div>T-R</div>
                        <div ng-dropover-contents>
                            <div>SHADOW FUN!</div>
                        </div>
                    </div>
                </td>
                <td ng-dropover class="shadow-fun" ng-dropover-options="{'triggerEvent': 'hover', 'position': 'right-top'}">
                    <div>
                        <div>R-T</div>
                        <div ng-dropover-contents>
                            <div>SHADOW FUN!</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td ng-dropover class="shadow-fun" ng-dropover-options="{'triggerEvent': 'hover', 'position': 'left-center'}">
                    <div>
                        <div>L-C</div>
                        <div ng-dropover-contents>
                            <div>SHADOW FUN!</div>
                        </div>
                    </div>
                </td>
                <td class="shadow-center">
                    
                </td>
                <td class="shadow-center">
                    
                </td>
                <td class="shadow-center">
                    
                </td>
                <td ng-dropover class="shadow-fun" ng-dropover-options="{'triggerEvent': 'hover', 'position': 'right-center'}">
                    <div>
                        <div>R-C</div>
                        <div ng-dropover-contents>
                            <div>SHADOW FUN!</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td ng-dropover class="shadow-fun" ng-dropover-options="{'triggerEvent': 'hover', 'position': 'left-bottom'}">
                    <div>
                        <div>L-B</div>
                        <div ng-dropover-contents>
                            <div>SHADOW FUN!</div>
                        </div>
                    </div>
                </td>
                <td ng-dropover class="shadow-fun" ng-dropover-options="{'triggerEvent': 'hover', 'position': 'bottom-left'}">
                    <div>
                        <div>B-L</div>
                        <div ng-dropover-contents>
                            <div>SHADOW FUN!</div>
                        </div>
                    </div>
                </td>
                <td ng-dropover class="shadow-fun" ng-dropover-options="{'triggerEvent': 'hover', 'position': 'bottom-center'}">
                    <div>
                        <div>B-C</div>
                        <div ng-dropover-contents>
                            <div>SHADOW FUN!</div>
                        </div>
                    </div>
                </td>
                <td ng-dropover class="shadow-fun" ng-dropover-options="{'triggerEvent': 'hover', 'position': 'bottom-right'}">
                    <div>
                        <div>B-R</div>
                        <div ng-dropover-contents>
                            <div>SHADOW FUN!</div>
                        </div>
                    </div>
                </td>
                <td ng-dropover class="shadow-fun" ng-dropover-options="{'triggerEvent': 'hover', 'position': 'right-bottom'}">
                    <div>
                        <div>R-B</div>
                        <div ng-dropover-contents>
                            <div>SHADOW FUN!</div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

</html>
