html {
    font: 18px sans-serif;
    font-weight: 300;
}

body {
    margin: 0px auto;
    padding: 0 20px;
    color: #666;
    max-width: 920px;
    line-height: 1.5em;
}

.row {
    margin: 50px 0;
}

button {
    display: inline-block;
    border: 1px solid #81DFBB;
    text-align: center;
    color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    height: 34px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    border-color: #81DFBB;
    background-image: -webkit-linear-gradient(top, #AEF5DB 0%, #81DFBB 100%);
    background-image: -o-linear-gradient(top, #AEF5DB 0%, #81DFBB 100%);
    background-image: linear-gradient(to bottom, #AEF5DB 0%, #81DFBB 100%);
    background-repeat: repeat-x;
}

ul {
    list-style: none;
    padding: 0 0;
}

ul li {}

[ng-dropover-trigger] {
    display: inline-block;
    border: 1px solid #DECEDF;
    background: #FAF5FF;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
}

.ngdo-trigger {
    cursor: pointer;
}

[ng-dropover].outline {
    border: 1px solid #81DFBB;
    background: #DCFFEE;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
}

.remote-trigger {
    display: inline-block;
    margin: 0 15px;
}

section {
    margin-bottom: 100px;
}

h1 {
    border-bottom: 3px solid #B9B2F4;
    border-left: 3px solid #B9B2F4;
    padding: 0 0 5px 10px;
    border-radius: 0 0 0 5px;
    font-size: 1.75em;
    color: #999;
}

.menuItem {
    display: inline-block;
    padding: 20px;
}

.ngdo-contents {
    border: 1px solid #1ADF60;
    border-radius: 2px;
    padding: 20px;
    background: white;
    z-index: 1;
    cursor: initial;
}

ul.ngdo-contents {
    padding: 0;
    border: 1px solid #81DFBB;
}

nav ul {
    margin;
    20px 0;
}

nav a {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

nav a,
nav a:hover {
    color: #333;
    text-decoration: none;
}

nav .ngdo-contents {
    display: inline-block;
    min-width: 120px;
}

.menu-main {
    display: inline-block;
}

.menu-main > a {
    padding: 0 25px;
    background: #81DFBB;
    text-transform: uppercase;
}

.menu-main > a:hover {
    background: #77CDAD;
}

.menu-main > a,
.menu-main > a:hover {
    color: white;
}

.menu-link a {
    padding: 5px 0 5px 10px;
}

.menu-link a:hover {
    background: #D4F4E9
}

.i-block {
    display: inline-block;
}

.ngdo-empty {
    font-size: 12px;
    line-height: 1.2em;
}

.template-example .ngdo-contents {
    width: 275px;
}

.directive-example .ngdo-contents {
    width: 500px;
}

.directive-example button {
    margin: 5px 25px 25px 0;
}

.col-sm-8 ul {
    text-align: center;
}

.col-sm-8 .ngdo-contents {
    width: 120px;
}

.ngdo-contents.dropdown {
    display: none;
}

[ng-dropover] .ngdo-contents {
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
    opacity: 0;
}

[ng-dropover].ngdo-open .ngdo-contents {
    opacity: 1;
}


/*[ng-dropover] .ngdo-contents {
    overflow-y: hidden;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    max-height: 0;
}

[ng-dropover].ngdo-open .ngdo-contents {
    max-height: 500px;
}*/

table {
    border-collapse: collapse;
    border: 1px solid #FF0000;
    width: 600px;
    height: 600px;
    margin: 100px;
}

table td {
    border: 1px solid #FF0000;
    text-align: center;
}

.shadow-fun.ngdo-bottom-left .ngdo-contents {
    box-shadow: -10px 40px 5px 8px rgba(0, 0, 0, 0.75);
}

.shadow-fun.ngdo-bottom-center .ngdo-contents {
    box-shadow: -1px 40px 5px 8px rgba(0, 0, 0, 0.75);
}

.shadow-fun.ngdo-bottom-right .ngdo-contents {
    box-shadow: 10px 40px 5px 8px rgba(0, 0, 0, 0.75);
}

.shadow-fun.ngdo-top-left .ngdo-contents {
    box-shadow: -10px -40px 5px 8px rgba(0, 0, 0, 0.75);
}

.shadow-fun.ngdo-top-center .ngdo-contents {
    box-shadow: -1px -40px 5px 8px rgba(0, 0, 0, 0.75);
}

.shadow-fun.ngdo-top-right .ngdo-contents {
    box-shadow: 10px -40px 5px 8px rgba(0, 0, 0, 0.75);
}

.shadow-fun.ngdo-left-bottom .ngdo-contents {
    box-shadow: -40px 40px 5px 8px rgba(0, 0, 0, 0.75);
}

.shadow-fun.ngdo-left-center .ngdo-contents {
    box-shadow: -40px 0px 5px 8px rgba(0, 0, 0, 0.75);
}

.shadow-fun.ngdo-left-top .ngdo-contents {
    box-shadow: -40px -40px 5px 8px rgba(0, 0, 0, 0.75);
}

.shadow-fun.ngdo-right-bottom .ngdo-contents {
    box-shadow: 40px 40px 5px 8px rgba(0, 0, 0, 0.75);
}

.shadow-fun.ngdo-right-center .ngdo-contents {
    box-shadow: 40px 0px 5px 8px rgba(0, 0, 0, 0.75);
}

.shadow-fun.ngdo-right-top .ngdo-contents {
    box-shadow: 40px -40px 5px 8px rgba(0, 0, 0, 0.75);
}
