html {
    font: 18px sans-serif;
    font-weight: 300;
}

body {
    margin: 0px auto;
    padding: 0 20px;
    color: #666;
    max-width: 920px;
    line-height: 1.5em;
}

.row {
    margin: 50px 0;
}

button {
    display: inline-block;
    border: 1px solid #81DFBB;
    text-align: center;
    color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    height: 34px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    border-color: #81DFBB;
    background-image: -webkit-linear-gradient(top, #AEF5DB 0%, #81DFBB 100%);
    background-image: -o-linear-gradient(top, #AEF5DB 0%, #81DFBB 100%);
    background-image: linear-gradient(to bottom, #AEF5DB 0%, #81DFBB 100%);
    background-repeat: repeat-x;
}

ul {
    list-style: none;
    padding: 0 0;
}

ul li {}

[ng-dropover-trigger] {
    display: inline-block;
    border: 1px solid #DECEDF;
    background: #FAF5FF;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
}

.ng-dropover-trigger {
    cursor: pointer;
}

[ng-dropover].outline {
    border: 1px solid #81DFBB;
    background: #DCFFEE;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
}

.remote-trigger {
    display: inline-block;
    margin: 0 15px;
}

section {
    margin-bottom: 100px;
}

h1 {
    border-bottom: 3px solid #B9B2F4;
    border-left: 3px solid #B9B2F4;
    padding: 0 0 5px 10px;
    border-radius: 0 0 0 5px;
    font-size: 1.75em;
    color: #999;
}

.menuItem {
    display: inline-block;
    padding: 20px;
}

.ng-dropover-contents {
    border: 1px solid #1ADF60;
    border-radius: 2px;
    padding: 20px;
    background: white;
    z-index: 1;
    cursor: initial;
}

.ng-dropover-wrapper {
    width: auto;
    margin-right: 25px;
}

ul.ng-dropover-contents {
    padding: 0;
    border: 1px solid #81DFBB;
}

nav ul {
    margin;
    20px 0;
}

nav a {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

nav a,
nav a:hover {
    color: #333;
    text-decoration: none;
}

nav .ng-dropover-contents {
    display: inline-block;
    min-width: 120px;
}

.menu-main {
    display: inline-block;
}

.menu-main > a {
    padding: 0 25px;
    background: #81DFBB;
    text-transform: uppercase;
}

.menu-main > a:hover {
    background: #77CDAD;
}

.menu-main > a,
.menu-main > a:hover {
    color: white;
}

.menu-link a {
    padding: 5px 0 5px 10px;
}

.menu-link a:hover {
    background: #D4F4E9
}

.i-block {
    display: inline-block;
}

.ng-dropover-empty {
    font-size: 12px;
    line-height: 1.2em;
}

.template-example .ng-dropover-contents {
    width: 275px;
}

.directive-example .ng-dropover-contents {
    width: 500px;
}

.directive-example button {
    margin: 5px 25px 25px 0;
}

.col-sm-8 ul {
    text-align: center;
}
.col-sm-8 .ng-dropover-contents {
    width: 120px;
}
